/* Responsividade para telas menores */
@media screen and (max-width: 1024px) {
  .resultados-pesquisa {
    grid-template-columns: repeat(3, 1fr);
  }
  /* .modal-container {
    width: 80vw;
    height: auto;
  } */
  footer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  section input {
    width: 24rem;
    padding: 0.8rem;
  }
  .resultados-pesquisa {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }
  section input {
    width: 18rem;
    padding: 0.6rem;
    font-size: 0.8rem;
  }
  .resultados-pesquisa {
    padding: 0.6rem;
  }
  .item-resultado {
    width: 120px;
    margin-bottom: 0.4rem;
    padding: 0.8rem;
  }
  .tipos {
    font-size: 10px;
    gap: 2px;
  }
  .pkm-nome {
    font-size: 1.2rem;
    margin: 0vh 0 0 0;
  }
  /* .modal-container {
    width: 95vw;
    height: auto;
    padding: 15px;
  } */
  .pkm-descricao {
    font-size: 1rem;
  }
  section button {
    margin-bottom: 0vh;
  }
}

@media (max-width: 375px) {
  section input {
    width: 16rem;
  }
  section button {
    font-size: 0.8rem;
    border-radius: 1.5rem;
  }
  .resultados-pesquisa {
    max-width: 90vw;
    padding: 0.4rem;
  }
  .item-resultado {
    width: 110px;
  }
  .tipos {
    font-size: 8px;
    gap: 2px;
  }
}
